<a href="https://colab.research.google.com/github/unicamp-dl/IA025_2022S1/blob/main/Final_project/Alexander_Valle/3delivery/Stage1_GeneratingCaption4Imagenet%26DAmageNet__with_OFA_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Stage I generating the capntions for Imagenet and Damagenet

Rolan Alexander Valle Rey Sánchez ra 230254





In this notebook we use OFA to genrate the captions for the images

# **OFA**
Start to enjoy image captioning with OFA!

https://github.com/ofa-sys/ofa

https://paperswithcode.com/paper/unifying-architectures-tasks-and-modalities#code

other

https://paperswithcode.com/sota/image-captioning-on-coco-captions


https://paperswithcode.com/paper/language-models-are-general-purpose#code

OFA is a unified multimodal pretrained model that unifies modalities (i.e., cross-modality, vision, language) and tasks (e.g., image generation, visual grounding, image captioning, image classification, text generation, etc.) to a simple sequence-to-sequence learning framework. For more information, please refer to our paper

In [ ]:
from google.colab import drive
drive.mount('/content/Drive')

Mounted at /content/Drive

In [ ]:
import os
#os.chdir("/content")
os.getcwd()

'/content'

In [ ]:
#!rm -rf fairseq

In [ ]:
!ls

drive  Drive  OFA  sample_data

## **Preparation**
Below you just need to import required packages, and check whether to use GPU or FP16.

In [ ]:
import os
#os.chdir("/content")
os.getcwd()

'/content'

In [ ]:
import torch
import numpy as np

from PIL import Image

# Register caption task


# turn on cuda if GPU is available
use_cuda = torch.cuda.is_available()
# use fp16 only when GPU is available
use_fp16 = False

## **Build Model**
Below you can build your model and load the weights from the given checkpoint, and also build a generator.

## **Preprocess**
We demonstrate the required transformation fucntions for preprocessing inputs.

## **Run Inference**
Download an image and run the following scripts to generate the caption.

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
# import necessary Python packages
import os
import numpy as np
import urllib.request
# set the working directory to the `earth-analytics-bootcamp` directory
# print the current working directory
os.getcwd()
os.chdir("/content/")

In [ ]:
os.chdir("/content/")
os.chdir("/content/Drive/")
os.chdir("/content/Drive/MyDrive/")
os.chdir("/content/Drive/MyDrive/IA025/proy/")

In [ ]:
#os.chdir("/content/Drive/MyDrive/IA025/proy/ImageNet/ImageNetVal/")
#os.chdir("/content/Drive/MyDrive/IA025/proy/DAmageNet/DmgNet/")

In [ ]:

os.getcwd()

'/content/Drive/MyDrive/IA025/proy'

In [ ]:
import matplotlib.pyplot as plt
import os
import cv2
#img = os.listdir('/content/Drive/MyDrive/IA025/proy/ImageNet/ImageNetVal/')
#print(img) 
#len(img)

In [ ]:
#im=[txt.replace(".JPEG", "") for txt in img]

In [ ]:
len(img)

49595

In [ ]:
path="/content/Drive/MyDrive/IA025/proy/"
path='/ImageNet/ImageNetVal/'

In [ ]:
#dmg = os.listdir('./DAmageNet/DmgNet/')
#print(dmg)

In [ ]:
#da=[txt.replace("png", "") for txt in dmg]

In [ ]:
#same=list(set(da) & set(im))
#same[1:10]

In [ ]:
# Libraries
import seaborn as sns
import pandas as pd
from matplotlib import pyplot as plt

In [ ]:
import random
# select randoly the clases for retrain
l = list(range(1000))
sh=random.sample(l, 500)# shero shot
os=random.sample(list(set(l)-set(sh)), 250)
fs=list(set(l)-set(sh + os))
fs2=random.sample(fs, 150)
fs3=list(set(fs)-set(fs2))

In [ ]:
len(sh),len(os),len(fs)

(500, 250, 250)

In [ ]:
pathgt="/content/Drive/MyDrive/IA025/proy/GT/"

In [ ]:
groundtruth = pd.read_csv(pathgt+'IMG_validation_ground_truth.csv', delimiter=',')#.values

In [ ]:
#groundtruth['type_shot']
shot1=np.array([1 if g in os else 0 for g in groundtruth['Ground_truth'].values])
fshot=np.array([2 if g in fs else 0 for g in groundtruth['Ground_truth'].values])
shot=shot1+fshot
sdict=dict({0:'none',1:'one',2:'few'})
groundtruth['type_shot']=np.array([sdict[s] for s in shot])#type_shot
set(list(shot))

{0, 1, 2}

In [ ]:
imagenet=pd.read_csv('/content/Drive/MyDrive/IA025/proy/data2/imagenet_Full_Captions.csv')
imagenet

,ids,caption,ground_truth,image_id,attack
0,ILSVRC2012_val_00009996.JPEG,a goat standing on top of a hill,350,ILSVRC2012_val_00009996,0
1,ILSVRC2012_val_00009931.JPEG,a painting with red paint on a wooden stand,583,ILSVRC2012_val_00009931,0
2,ILSVRC2012_val_00031532.JPEG,a brown dog sitting next to a window,178,ILSVRC2012_val_00031532,0
3,ILSVRC2012_val_00014855.JPEG,a mushroom growing on top of a tree trunk,993,ILSVRC2012_val_00014855,0
4,ILSVRC2012_val_00021964.JPEG,a row of popsicle sticks with labels on them,798,ILSVRC2012_val_00021964,0
...,...,...,...,...,...
49588,ILSVRC2012_val_00039730.JPEG,a large white dog chewing on a red cup,257,ILSVRC2012_val_00039730,0
49589,ILSVRC2012_val_00027484.JPEG,a gecko sitting on top of a rock,61,ILSVRC2012_val_00027484,0
49590,ILSVRC2012_val_00004575.JPEG,an old barn in the middle of a field,425,ILSVRC2012_val_00004575,0
49591,ILSVRC2012_val_00043065.JPEG,a large wicker basket sitting on top of a wall,588,ILSVRC2012_val_00043065,0
49592,ILSVRC2012_val_00025710.JPEG,a close up of a crab on a table,121,ILSVRC2012_val_00025710,0

In [ ]:
import os
os.chdir(folder)
os.getcwd()

'/content/Drive/MyDrive/IA025/proy/experiments'

In [ ]:
winoground=pd.read_csv('/content/Drive/MyDrive/IA025/proy/data2/winoground_Full_Captions.csv')#
winoground['dataset']=np.array(['winoground' for k in winoground.index.values])
winoground['shot_type']=np.array([0 for k in winoground.index.values])

winoground.head()

,Unnamed: 0,ids,caption,attack,dataset,shot_type
0,0,0_image_0.png,an old person kisses a young person,0,winoground,0
1,1,0_image_1.png,a young person kisses an old person,0,winoground,0
2,2,100_image_0.png,the happy one is on the left and the upset one...,0,winoground,0
3,3,100_image_1.png,the upset one is on the left and the happy one...,0,winoground,0
4,4,101_image_0.png,fake mustache and real hair on head,0,winoground,0

In [ ]:
folder="/content/Drive/MyDrive/IA025/proy/experiments/"
winoground[['ids', 'caption', 'attack','shot_type','dataset']].to_csv(folder+'winoground_Full_Captions.csv',index=False)#

In [ ]:
!ls

damagenet_Full_Captions.csv  imagenet_Full_Captions.csv
df_test1.csv		     mix1
df_train1.csv		     mix2
df_val1.csv		     winoground_Full_Captions.csv

In [ ]:
df_train1=pd.read_csv(folder+'df_train1.csv')#
df_train1.head()

,ids,ImagenNetID,caption,Ground_truth,attack,shot_type,type_shot,2use,dataset
0,ILSVRC2012_val_00017995.JPEG,ILSVRC2012_val_00017995,a man sitting on the ground holding a fish,0,0,0,none,1,ImageNet
1,ILSVRC2012_val_00039905.JPEG,ILSVRC2012_val_00039905,a man holding a fish in his hands,0,0,0,none,1,ImageNet
2,ILSVRC2012_val_00007197.JPEG,ILSVRC2012_val_00007197,a fish in a fishing net on the grass,0,0,0,none,1,ImageNet
3,ILSVRC2012_val_00006697.JPEG,ILSVRC2012_val_00006697,a man is holding a fish,0,0,0,none,1,ImageNet
4,ILSVRC2012_val_00027419.JPEG,ILSVRC2012_val_00027419,a shark swimming under the water in the ocean,2,0,0,none,1,ImageNet

In [ ]:
folder="/content/Drive/MyDrive/IA025/proy/experiments/mix1/"
cols=['ids', 'caption', 'attack','shot_type','dataset']
dataftrain = pd.concat([winoground[cols], df_train1[cols]], axis=0) # concatenating   along rows
dataftrain

,ids,caption,attack,shot_type,dataset
0,0_image_0.png,an old person kisses a young person,0,0,winoground
1,0_image_1.png,a young person kisses an old person,0,0,winoground
2,100_image_0.png,the happy one is on the left and the upset one...,0,0,winoground
3,100_image_1.png,the upset one is on the left and the happy one...,0,0,winoground
4,101_image_0.png,fake mustache and real hair on head,0,0,winoground
...,...,...,...,...,...
2845,ILSVRC2012_val_00000250.png,adversarial a wooden cabinet with two doors wi...,1,3,DAmageNet
2846,ILSVRC2012_val_00017674.png,adversarial a wardrobe with wooden doors and a...,1,3,DAmageNet
2847,ILSVRC2012_val_00021454.png,adversarial a white mug with a blue inside of it,1,3,DAmageNet
2848,ILSVRC2012_val_00025893.png,adversarial a coffee mug with an owl on it on ...,1,3,DAmageNet
2849,ILSVRC2012_val_00028575.png,adversarial a stuffed panda bear sitting on to...,1,3,DAmageNet

In [ ]:
dataftrain.to_csv(folder+'data_train1.csv',index=False)#

In [ ]:
df_test1=pd.read_csv(folder+'df_test1.csv')#
df_test1.head()

In [ ]:
damagenet=pd.read_csv('/content/Drive/MyDrive/IA025/proy/data2/damagenet_Full_Captions.csv') 
damagenet.head()

,ids,caption,ground_truth,image_id,attack
0,ILSVRC2012_val_00009996.png,adversarial a goat standing on top of a hill,350,ILSVRC2012_val_00009996,1
1,ILSVRC2012_val_00009931.png,adversarial a painting with red paint on a woo...,583,ILSVRC2012_val_00009931,1
2,ILSVRC2012_val_00031532.png,adversarial a brown dog sitting next to a window,178,ILSVRC2012_val_00031532,1
3,ILSVRC2012_val_00014855.png,adversarial a mushroom growing on top of a tre...,993,ILSVRC2012_val_00014855,1
4,ILSVRC2012_val_00021964.png,adversarial a row of popsicle sticks with labe...,798,ILSVRC2012_val_00021964,1

In [ ]:
im=list(imagenet['image_id'].values)
len(im)

49593

In [ ]:
1/ewqrwerwe

In [ ]:
idl=list(groundtruth['ImagenNetID'].values)
#groundtruth['>=224']=np.array([1 if i in im else 0 for i in idl])#type_shot
groundtruth['2use']=np.array([1 if i in im else 0 for i in idl])#type_shot

In [ ]:
len(groundtruth[groundtruth['2use']==0])

407

In [ ]:
groundtruth.head()

               ImagenNetID  Ground_truth type_shot  2use
0  ILSVRC2012_val_00000001            65      none     1
1  ILSVRC2012_val_00000002           970       few     1
2  ILSVRC2012_val_00000003           230       one     1
3  ILSVRC2012_val_00000004           809      none     1
4  ILSVRC2012_val_00000005           516       one     1

In [ ]:
sampdf0=groundtruth[(groundtruth['type_shot']=='none')&(groundtruth['2use']==1)]

In [ ]:
sampdf0

                   ImagenNetID  Ground_truth type_shot  2use
0      ILSVRC2012_val_00000001            65      none     1
3      ILSVRC2012_val_00000004           809      none     1
5      ILSVRC2012_val_00000006            57      none     1
7      ILSVRC2012_val_00000008           415      none     1
10     ILSVRC2012_val_00000011           109      none     1
...                        ...           ...       ...   ...
49991  ILSVRC2012_val_00049992           357      none     1
49992  ILSVRC2012_val_00049993           826      none     1
49996  ILSVRC2012_val_00049997            26      none     1
49997  ILSVRC2012_val_00049998           232      none     1
49999  ILSVRC2012_val_00050000           355      none     1

[24780 rows x 4 columns]

In [ ]:
sampdfbase=groundtruth[groundtruth['2use']==1]
sampdfbase

                   ImagenNetID  Ground_truth type_shot  2use
0      ILSVRC2012_val_00000001            65      none     1
1      ILSVRC2012_val_00000002           970       few     1
2      ILSVRC2012_val_00000003           230       one     1
3      ILSVRC2012_val_00000004           809      none     1
4      ILSVRC2012_val_00000005           516       one     1
...                        ...           ...       ...   ...
49995  ILSVRC2012_val_00049996           283       one     1
49996  ILSVRC2012_val_00049997            26      none     1
49997  ILSVRC2012_val_00049998           232      none     1
49998  ILSVRC2012_val_00049999           982       few     1
49999  ILSVRC2012_val_00050000           355      none     1

[49593 rows x 4 columns]

In [ ]:
sampdf=groundtruth[(groundtruth['type_shot']!='none')&(groundtruth['2use']==1)]
sampdf.head()

               ImagenNetID  Ground_truth type_shot  2use
1  ILSVRC2012_val_00000002           970       few     1
2  ILSVRC2012_val_00000003           230       one     1
4  ILSVRC2012_val_00000005           516       one     1
6  ILSVRC2012_val_00000007           334       few     1
8  ILSVRC2012_val_00000009           674       few     1

In [ ]:
len(sampdf.index)

24813

In [ ]:
1/opjop

In [ ]:
len(sh),len(os),len(fs2),len(fs3)

In [ ]:
shot1=np.array([1 if g in os else 0 for g in sampdf['Ground_truth'].values])
shot2=np.array([2 if g in fs2 else 0 for g in sampdf['Ground_truth'].values])
shot3=np.array([3 if g in fs3 else 0 for g in sampdf['Ground_truth'].values])
shot=shot1+shot2+shot3

sdict2=dict({0:'none',1:'one',2:'two',3:'three'})

In [ ]:
sampdf['shot_type']=shot#np.array([sdict2[s] for s in shot])#type_shot

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
sampdf.head()

               ImagenNetID  Ground_truth type_shot  2use  shot_type
1  ILSVRC2012_val_00000002           970       few     1          2
2  ILSVRC2012_val_00000003           230       one     1          1
4  ILSVRC2012_val_00000005           516       one     1          1
6  ILSVRC2012_val_00000007           334       few     1          2
8  ILSVRC2012_val_00000009           674       few     1          2

In [ ]:
set(sampdf['shot_type'])

{1, 2, 3}

In [ ]:
read_path="/content/Drive/MyDrive/IA025/proy/DAmageNet/DmgNet/"
img = cv2.imread(read_path+'ILSVRC2012_val_00049993.png')
cv2_imshow(img)

In [ ]:
sampdf1=sampdf[sampdf['shot_type']==1]#.ImagenNetID.values #???
sampdf2=sampdf[sampdf['shot_type']==2]#.ImagenNetID.values
sampdf3=sampdf[sampdf['shot_type']==3]#.ImagenNetID.values

In [ ]:
l1,l2,l3=list(set(sampdf1['Ground_truth'])),list(set(sampdf2['Ground_truth'])),list(set(sampdf3['Ground_truth']))
len(l1),len(l2),len(l3)

(250, 150, 100)

In [ ]:
#sampdf0.head()

In [ ]:
l0=list(set(sampdf0['Ground_truth']))
n0=len(l0)
n0

500

In [ ]:
n1,n2,n3=len(sampdf1),len(sampdf2),len(sampdf3)
n1,n2,n3

(12400, 7455, 4958)

In [ ]:
def getsample(df,lc,s):
  for i,c in enumerate(lc):
    if i==0:
      DTS=df[df['Ground_truth']==c].sample(n=s,replace=False)
    else:
      DTS= pd.concat([DTS, df[df['Ground_truth']==c].sample(n=s,replace=False)], axis=0) # concatenating   along rows
  print('data',DTS.shape)
  return DTS

In [ ]:
800+850+5*500

4150

In [ ]:
sdf0=getsample(sampdf0,l0,4)
sdf0['shot_type']=np.array([0 for k in sdf0.index.values])
sdf0.head()

data (2000, 4)

                   ImagenNetID  Ground_truth type_shot  2use  shot_type
17994  ILSVRC2012_val_00017995             0      none     1          0
39904  ILSVRC2012_val_00039905             0      none     1          0
7196   ILSVRC2012_val_00007197             0      none     1          0
6696   ILSVRC2012_val_00006697             0      none     1          0
27418  ILSVRC2012_val_00027419             2      none     1          0

In [ ]:
sdf1=getsample(sampdf1,l1,1)
sdf2=getsample(sampdf2,l2,2)
sdf3=getsample(sampdf3,l3,3)

data (250, 5)
data (300, 5)
data (300, 5)

In [ ]:
sdf3.head()

                   ImagenNetID  Ground_truth type_shot  2use  shot_type
306    ILSVRC2012_val_00000307             1       few     1          3
4676   ILSVRC2012_val_00004677             1       few     1          3
38056  ILSVRC2012_val_00038057             1       few     1          3
16722  ILSVRC2012_val_00016723           513       few     1          3
16016  ILSVRC2012_val_00016017           513       few     1          3

In [ ]:
# Saving array as binary file and reading it
def save_check(array_rain_fall,path,name, c):
  #array_rain_fall.tofile(path+name)
  #array_rain_fall_binary = np.fromfile(path+name+".npy")
  if c:
    np.save(path+name+".npy", array_rain_fall)
    return array_rain_fall
  else:
    array_rain_fall_npy = np.load(path+name+".npy")
    print("NumPy array: \n", array_rain_fall_npy)
    print("Shape: ", array_rain_fall_npy.shape)
    print("Data Type: ", array_rain_fall_npy.dtype.name)
    return array_rain_fall_npy

In [ ]:
path="/content/Drive/MyDrive/IA025/proy/experiments/mix1/"
c=True
l0=save_check(l0,path,'class_500_imagenet_x4',c)
l1=save_check(l0,path,'class_250_imagenet_x1',c)
l2=save_check(l0,path,'class_150_imagenet_x2',c)
l3=save_check(l0,path,'class_100_imagenet_x3',c)

In [ ]:
imagenet.head()

,ids,caption,ground_truth,image_id,attack
0,ILSVRC2012_val_00009996.JPEG,a goat standing on top of a hill,350,ILSVRC2012_val_00009996,0
1,ILSVRC2012_val_00009931.JPEG,a painting with red paint on a wooden stand,583,ILSVRC2012_val_00009931,0
2,ILSVRC2012_val_00031532.JPEG,a brown dog sitting next to a window,178,ILSVRC2012_val_00031532,0
3,ILSVRC2012_val_00014855.JPEG,a mushroom growing on top of a tree trunk,993,ILSVRC2012_val_00014855,0
4,ILSVRC2012_val_00021964.JPEG,a row of popsicle sticks with labels on them,798,ILSVRC2012_val_00021964,0

In [ ]:
def getcaption(dfcaption,sdf):
  list_ids=list(sdf['ImagenNetID'].values)
  dfcaption=dfcaption.set_index('image_id')
  return dfcaption[['caption']].loc[list_ids].values.T[0]

def getids(dfcaption,sdf):
  list_ids=list(sdf['ImagenNetID'].values)
  dfcaption=dfcaption.set_index('image_id')
  return dfcaption[['ids']].loc[list_ids].values.T[0]

In [ ]:
sdf0['caption']= getcaption(imagenet,sdf0)
sdf1['caption']= getcaption(damagenet,sdf1)
sdf2['caption']= getcaption(damagenet,sdf2)
sdf3['caption']= getcaption(damagenet,sdf3)

sdf0['ids']= getids(imagenet,sdf0)
sdf1['ids']= getids(damagenet,sdf1)
sdf2['ids']= getids(damagenet,sdf2)
sdf3['ids']= getids(damagenet,sdf3)

In [ ]:
sdf0['attack']=np.array([0 for k in sdf0.index.values])
sdf1['attack']=np.array([1 for k in sdf1.index.values])
sdf2['attack']=np.array([1 for k in sdf2.index.values])
sdf3['attack']=np.array([1 for k in sdf3.index.values])

In [ ]:
colsdf=['ids','ImagenNetID','caption', 'Ground_truth','attack', 'shot_type', 'type_shot', '2use']
dftrain1 = pd.concat([sdf0, sdf1,sdf2,sdf3], axis=0)[colsdf] # concatenating   along rows
dftrain1.head()

,ids,ImagenNetID,caption,Ground_truth,attack,shot_type,type_shot,2use
17994,ILSVRC2012_val_00017995.JPEG,ILSVRC2012_val_00017995,a man sitting on the ground holding a fish,0,0,0,none,1
39904,ILSVRC2012_val_00039905.JPEG,ILSVRC2012_val_00039905,a man holding a fish in his hands,0,0,0,none,1
7196,ILSVRC2012_val_00007197.JPEG,ILSVRC2012_val_00007197,a fish in a fishing net on the grass,0,0,0,none,1
6696,ILSVRC2012_val_00006697.JPEG,ILSVRC2012_val_00006697,a man is holding a fish,0,0,0,none,1
27418,ILSVRC2012_val_00027419.JPEG,ILSVRC2012_val_00027419,a shark swimming under the water in the ocean,2,0,0,none,1

In [ ]:
dftrain1['dataset']=np.array(['ImageNet' if a==0 else 'DAmageNet' for a in dftrain1['attack']])#type_sho

In [ ]:
folder="/content/Drive/MyDrive/IA025/proy/experiments/"
dftrain1.to_csv(folder+'dftrain1.csv',index=False)#

In [ ]:
imtrain1=list(dftrain1['ImagenNetID'].values)
imx=list(sampdfbase['ImagenNetID'].values)
imtest=list(set(imx)-set(imtrain1))

In [ ]:
sampdfbase['cut2']=np.array([1 if i in imtest else 0 for i in imx])#type_sho
sampdf2=sampdfbase[sampdfbase['cut2']==1]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
sampdf2[['ImagenNetID','Ground_truth']].groupby('Ground_truth').count()

              ImagenNetID
Ground_truth
0                      45
1                      47
2                      45
3                      47
4                      45
...                   ...
995                    49
996                    45
997                    44
998                    43
999                    45

[1000 rows x 1 columns]

In [ ]:
dfcount=sampdf2[['ImagenNetID','Ground_truth']].groupby('Ground_truth').count().values
min(dfcount),max(dfcount)

(array([20]), array([49]))

In [ ]:
la=list(range(1000))
dfest=getsample(sampdf2,la,20)
dfest.head()

data (20000, 5)

                   ImagenNetID  Ground_truth type_shot  2use  cut2
45865  ILSVRC2012_val_00045866             0      none     1     1
28157  ILSVRC2012_val_00028158             0      none     1     1
18316  ILSVRC2012_val_00018317             0      none     1     1
9345   ILSVRC2012_val_00009346             0      none     1     1
11992  ILSVRC2012_val_00011993             0      none     1     1

In [ ]:
dftest_img=dfest.copy()
dftest_dmg=dfest.copy()

dftest_img['caption']= getcaption(imagenet,dftest_img)
dftest_img['ids']= getids(imagenet,dftest_img)
dftest_img['attack']=np.array([0 for k in dftest_img.index.values])


dftest_dmg['caption']= getcaption(damagenet,dftest_dmg)
dftest_dmg['ids']= getids(damagenet,dftest_dmg)
dftest_dmg['attack']=np.array([1 for k in dftest_dmg.index.values])

In [ ]:
dftest_dmg.columns

Index(['ImagenNetID', 'Ground_truth', 'type_shot', '2use', 'cut2', 'caption',
       'ids', 'attack'],
      dtype='object')

In [ ]:
colsdf=['ids','ImagenNetID','caption', 'Ground_truth','attack',  'type_shot', '2use']
dftest1 = pd.concat([dftest_img,dftest_dmg], axis=0)[colsdf] # concatenating   along rows
dftest1.head()

,ids,ImagenNetID,caption,Ground_truth,attack,type_shot,2use
45865,ILSVRC2012_val_00045866.JPEG,ILSVRC2012_val_00045866,a man holding a fish in front of a lake,0,0,none,1
28157,ILSVRC2012_val_00028158.JPEG,ILSVRC2012_val_00028158,a man holding a fish in his hand,0,0,none,1
18316,ILSVRC2012_val_00018317.JPEG,ILSVRC2012_val_00018317,a man sitting on a rock holding a yellow fish,0,0,none,1
9345,ILSVRC2012_val_00009346.JPEG,ILSVRC2012_val_00009346,a carp in the hand of a man holding a fish,0,0,none,1
11992,ILSVRC2012_val_00011993.JPEG,ILSVRC2012_val_00011993,a man holding a big fish in his hands,0,0,none,1

In [ ]:
dftest1['dataset']=np.array(['ImageNet' if a==0 else 'DAmageNet' for a in dftest1['attack']])#type_sho

In [ ]:
folder="/content/Drive/MyDrive/IA025/proy/experiments/"
dftest1.to_csv(folder+'dftest1.csv',index=False)#

In [ ]:
dfcount=dftest1[['ImagenNetID','Ground_truth']].groupby('Ground_truth').count().values
min(dfcount),max(dfcount)

(array([40]), array([40]))

In [ ]:
imtrain1=list(dftrain1['ImagenNetID'].values)
imtest1=list(dftest1['ImagenNetID'].values)

imx=list(sampdfbase['ImagenNetID'].values)
imval=list(set(imx)-set(imtrain1+imtest1))

sampdfbase['cut3']=np.array([1 if i in imval else 0 for i in imx])#type_sho
sampdf3=sampdfbase[sampdfbase['cut3']==1]

dfcount=sampdf3[['ImagenNetID','Ground_truth']].groupby('Ground_truth').count().values
min(dfcount),max(dfcount)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

(array([8]), array([29]))

In [ ]:
lv=list(set(sampdf3['Ground_truth'].values))
dfval=getsample(sampdf3,lv,8)
dfval.head()

data (7992, 6)

                   ImagenNetID  Ground_truth type_shot  2use  cut2  cut3
30739  ILSVRC2012_val_00030740             0      none     1     1     1
37833  ILSVRC2012_val_00037834             0      none     1     1     1
17471  ILSVRC2012_val_00017472             0      none     1     1     1
46251  ILSVRC2012_val_00046252             0      none     1     1     1
10305  ILSVRC2012_val_00010306             0      none     1     1     1

In [ ]:

dfval_img=dfval.copy()
dfval_dmg=dfval.copy()

dfval_img['caption']= getcaption(imagenet,dfval_img)
dfval_img['ids']= getids(imagenet,dfval_img)
dfval_img['attack']=np.array([0 for k in dfval_img.index.values])


dfval_dmg['caption']= getcaption(damagenet,dfval_dmg)
dfval_dmg['ids']= getids(damagenet,dfval_dmg)
dfval_dmg['attack']=np.array([1 for k in dfval_dmg.index.values])

colsdf=['ids','ImagenNetID','caption', 'Ground_truth','attack',  'type_shot', '2use']
dfval1 = pd.concat([dfval_img,dfval_dmg], axis=0)[colsdf] # concatenating   along rows
dfval1.head()

,ids,ImagenNetID,caption,Ground_truth,attack,type_shot,2use
30739,ILSVRC2012_val_00030740.JPEG,ILSVRC2012_val_00030740,a man holding a fish in his hands,0,0,none,1
37833,ILSVRC2012_val_00037834.JPEG,ILSVRC2012_val_00037834,a large fish on a green display,0,0,none,1
17471,ILSVRC2012_val_00017472.JPEG,ILSVRC2012_val_00017472,a fish in a bag with a black bag,0,0,none,1
46251,ILSVRC2012_val_00046252.JPEG,ILSVRC2012_val_00046252,a fish in a fish,0,0,none,1
10305,ILSVRC2012_val_00010306.JPEG,ILSVRC2012_val_00010306,a bird with a fish in its beak,0,0,none,1

In [ ]:
dfval1['dataset']=np.array(['ImageNet' if a==0 else 'DAmageNet' for a in dfval1['attack']])#type_sho

In [ ]:
dfcount=dfval1[['ImagenNetID','Ground_truth']].groupby('Ground_truth').count().values
min(dfcount),max(dfcount)

(array([16]), array([16]))

In [ ]:
len(set(dfval1['Ground_truth'].values))

999

In [ ]:
folder="/content/Drive/MyDrive/IA025/proy/experiments/"
dfval1.to_csv(folder+'dfval1.csv',index=False)#

In [ ]:
dftrain1.columns

Index(['ImagenNetID', 'Ground_truth', 'type_shot', '2use', 'shot_type',
       'caption', 'ids'],
      dtype='object')